@import "_material_theme";

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(./font/roboto/Roboto-Regular.ttf) format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(./font/roboto/Roboto-Medium.ttf) format("truetype");
}

:root {
  @extend .material-theme;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  font-family: "Roboto";
}
